<div class="data">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p>{{email}}</p>
</div>

<hr />

<article class="article">
  <h2>About me</h2>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos recusandae quos cumque, natus beatae
    quisquam,
    error tempora veniam incidunt iusto voluptatibus sunt, asperiores labore repellat officiis mollitia facere nisi modi
    enim deleniti ad saepe. Quas aliquid cupiditate debitis, voluptatem asperiores veritatis provident error porro ipsum
    eaque, accusantium non harum dignissimos?</p>
</article>