<nav class="nav">
  <div class="box-logo"><span class="logo">SA</span></div>
  <ul>
    <li><a href="#" routerLink="/about" routerLinkActive="active">About Me</a></li>
    <li><a href="#" routerLink="/projects" routerLinkActive="active">Projects</a></li>
    <li><a href="#" routerLink="/create" routerLinkActive="active">Create Project</a></li>
    <li><a href="#" routerLink="/contact" routerLinkActive="active">Contact</a></li>
  </ul>
</nav>

<div class="container">
  <section class="content">
    <router-outlet></router-outlet>
  </section>

  <footer class="footer">
    Portfolio in Angular&copy;
  </footer>
</div>